* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  font-family: "Helvetica", "Arial", "Sans-serif";
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 50px 1fr 25px;
  grid-template-areas: 
    "left header right"
    "left main right"
    "left footer right";
  color: #424242;
}

nav {
  grid-area: header;
  border-bottom: 2px solid #4CAF50; 
}

nav ul, footer ul, footer p {
  padding: 0;
  list-style: none;
  font-weight: bold;
}

nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #4CAF50;
}

a:hover {
  text-decoration: underline;
}

.container {
  grid-area: main;
}

.block a {
  display: block;
}

.block h4 {
  margin: 0;
  text-decoration: underline;
}

.block {
  padding: 10px 0;
}

footer {
  grid-area: footer;
  border-top: 2px solid #4CAF50;
  font-size: 10pt;
}

footer p {
  margin: 0;
}

@media screen and (max-width: 480px) {
  body {
    grid-template-columns: 100%;
    grid-template-areas: 
      "header"
      "main"
      "footer";
  }
  nav ul, footer ul {
    display: flex;
    justify-content: space-evenly;
  }
  nav ul li, footer ul li {
    margin: 0;
  }
  .container {
    padding: 0 5%;
  }
  .about h3 {
    margin-bottom: 0;
  }
  footer p {
    text-align: center;
  }
}
