<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <div class="main-container">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/projects">Projects</a></li>
        </ul>
      </nav>
      <div class="container">
        {{ content }}
      </div>
      <footer>
        <p>
          <span><a href="https://github.com/arpiper/">github.com/arpiper</a></span>
        </p>
      </footer>
    </div>
  </body>
</html>
